* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Courier New';
    width: 100%;
    min-height: 100vh;
  }

  h1 {
    font-size: 40px;
  }

  p1, p2, p3 {
    display: block;
  }

  [class^="character"] {
    background-color: skyblue;
    display: grid;
    place-items: center;
  }

  .container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: stretch;
  }